<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        <a href="https://valor-software.com/ngx-bootstrap/#/tabs">Tabs</a> <a href="https://valor-software.com/ngx-bootstrap/#/carousel"> с carousel</a>
    </h1>
    <tabset>
        <tab heading = "Title1">
            <app-slider [slides]="[
                { src: 'https://cdn.pixabay.com/photo/2019/04/24/12/35/ivy-4152057_960_720.jpg', header: 'title1', text: 'text1', alt: 'img1' },
                { src: 'https://cdn.pixabay.com/photo/2014/04/14/20/11/japanese-cherry-trees-324175_960_720.jpg', header: 'title2', text: 'text2', alt: 'img2'}]">
            </app-slider>
        </tab>
        <tab heading = "Title2">
                <app-slider [slides]="[
                    { src: 'https://cdn.pixabay.com/photo/2012/08/06/00/53/bridge-53769_960_720.jpg', header: 'title3', text: 'text3', alt: 'img3' },
                    { src: 'https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729512_960_720.jpg', header: 'title4', text: 'text4', alt: 'img4'}]">
                </app-slider>
        </tab>
    </tabset>
</div>


